.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .bi {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .bi {
    left: 0px;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
}